:root {
    --color-primary: #F96765;
    --color-secondary: #F89F92;
    --color-accent: #A0F4E7;
    --color-bright: #E7F7F3;
    --color-headings: #1D1D1B;
    --color-body: #262b2d;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: var(--color-body);
    line-height: 1.5;
}

h1, h2, h3 {
    color: var(--color-headings);
    font-weight: 800;
    margin-bottom: 2rem;
}

h1 {
    font-size: 4.5rem;
    font-weight: 800;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: #F96765;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    transition: text-shadow 0.3s;
}
.link-arrow:hover {
    text-shadow: 0 0 10px var(--color-primary);
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
    font-size: 2rem;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../images/diamond.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}

/* Icons */
.icon {
    height: 40px;
    width: 40px;
}

.icon--primary {
    fill: var(--color-primary);
}

.icon--secondary {
    fill: var(--color-secondary);
}

.icon--accent {
    fill: var(--color-accent);
}

/* Buttons */
.btn {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 4vw;
    margin: 1rem 0;
    border: 0;
    border-radius: 40px;
    cursor: pointer;
    white-space: nowrap;
}

.btn--primary {
    background: var(--color-primary);
    color: var(--color-bright);
}

.btn--secondary {
    background: var(--color-secondary);
    color: var(--color-bright);
}

.btn--accent {
    background: var(--color-accent);
    color: var(--color-headings);
}

.btn--primary:hover {
    background: #e75e5c;
}

.btn--secondary:hover {
    background: #e19286;
}

.btn--accent:hover {
    background: #8edacf;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 3px solid var(--color-headings);
}

.btn--outline:hover {
    background: var(--color-headings);
    color: var(--color-bright);
}

@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.5rem;
    }
}