<section class="block container">
  <header class="block__header">
    <h2>Features</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, rerum.</p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <span class="responsive"></span>
      </span>
      <h3 class="feature__heading">Responsive Design</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eum
        placeat ad iste ex deleniti eveniet facilis a perspiciatis quas.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          images/features/responsive.webp    1x,
          images/features/responsive@2x.webp 2x,
          images/features/responsive@3x.webp 3x
        "
      />
      <source
        type="image/png"
        srcset="
          images/features/responsive.png    1x,
          images/features/responsive@2x.png 2x,
          images/features/responsive@3x.png 3x
        "
      />
      <img
        src="images/features/responsive@2x.png"
        alt=""
        class="feature__image"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <span class="network"></span>
      </span>
      <h3 class="feature__heading">Fully Customizable</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eum
        placeat ad iste ex deleniti eveniet facilis a perspiciatis quas.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          images/features/Customizable.webp    1x,
          images/features/Customizable@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="
          images/features/Customizable.png    1x,
          images/features/Customizable@2x.png 2x
        "
      />
      <img
        src="images/features/customizable@2x.png"
        alt=""
        class="feature__image"
      />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div>
      <span class="icon-container">
        <span class="support"></span>
      </span>
      <h3 class="feature__heading">24/7 Support</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi eum
        placeat ad iste ex deleniti eveniet facilis a perspiciatis quas.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="
          images/features/support.webp    1x,
          images/features/support@2x.webp 2x,
          images/features/support@3x.webp 3x
        "
      />
      <source
        type="image/png"
        srcset="
          images/features/support.png    1x,
          images/features/support@2x.png 2x,
          images/features/support@3x.png 3x
        "
      />
      <img src="images/features/support@2x.png" alt="" class="feature__image" />
    </picture>
  </article>
</section>
