<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <span>
          <?xml version="1.0" encoding="UTF-8"?>
          <svg
            class="icon collapsible__chevron"
            xmlns="http://www.w3.org/2000/svg"
            id="Outline"
            viewBox="0 0 24 24"
            width="512"
            height="512"
          >
            <path
              d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Support</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <span>
          <?xml version="1.0" encoding="UTF-8"?>
          <svg
            class="icon collapsible__chevron"
            xmlns="http://www.w3.org/2000/svg"
            id="Outline"
            viewBox="0 0 24 24"
            width="512"
            height="512"
          >
            <path
              d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vitae
          minima ad. Aperiam, rerum! Eos beatae illum explicabo minima adipisci.
        </p>
      </div>
    </section>
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <span>
          <?xml version="1.0" encoding="UTF-8"?>
          <svg
            class="icon collapsible__chevron"
            xmlns="http://www.w3.org/2000/svg"
            id="Outline"
            viewBox="0 0 24 24"
            width="512"
            height="512"
          >
            <path
              d="M15.4,9.88,10.81,5.29a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42L14,11.29a1,1,0,0,1,0,1.42L9.4,17.29a1,1,0,0,0,1.41,1.42l4.59-4.59A3,3,0,0,0,15.4,9.88Z"
            />
          </svg>
        </span>
      </header>
      <div class="collapsible__content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vitae
          minima ad. Aperiam, rerum! Eos beatae illum explicabo minima adipisci.
        </p>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">All rights reserved to Mohammad Panjehali</p>
    </section>
  </div>
</footer>
