<section class="block block--pastel">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Heading</h1>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, amet
        nostrum quidem unde vitae accusantium.
      </p>
      <a href="#" class="btn btn--primary">learn more</a>
    </header>
    <picture>
      <source
        type="image/webp"
        srcset="
          images/hero/banner.webp    1x,
          images/hero/banner@2x.webp 2x,
          images/hero/banner@3x.webp 3x
        "
      />
      <source
        type="image/png"
        srcset="
          images/hero/banner.png    1x,
          images/hero/banner@2x.png 2x,
          images/hero/banner@3x.png 3x
        "
      />
      <img src="images/hero/banner.png" alt="" class="hero__image" />
    </picture>
  </div>
</section>
