<div class="media">
  <div class="media__image">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      id="Outline"
      viewBox="0 0 24 24"
      width="512"
      height="512"
    >
      <rect y="11" width="24" height="2" rx="1" />
      <rect y="4" width="24" height="2" rx="1" />
      <rect y="18" width="24" height="2" rx="1" />
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">@Soheil_Irani</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum
      officiis, non repudiandae sint illo iusto aperiam optio dicta a facere?
    </p>
  </div>
</div>
