<nav class="nav collapsible">
  <a href="/">
    <img class="logo" src="/images/logo.svg" alt="" />
  </a>
  <?xml version="1.0" encoding="UTF-8"?>
  <svg
    class="icon nav__toggler"
    xmlns="http://www.w3.org/2000/svg"
    id="Outline"
    viewBox="0 0 24 24"
    width="512"
    height="512"
  >
    <rect y="11" width="24" height="2" rx="1" />
    <rect y="4" width="24" height="2" rx="1" />
    <rect y="18" width="24" height="2" rx="1" />
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="list__item nav__item"><a href="#">Item 1</a></li>
    <li class="list__item nav__item"><a href="#">Item 2</a></li>
    <li class="list__item nav__item"><a href="#">Item 3</a></li>
  </ul>
</nav>
