<section class="block block--dark block-showcase">
  <header class="block__header">
    <h2 class="block__heading">What we offer?</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="
          images/showcase/tablet.webp    1x,
          images/showcase/tablet@2x.webp 2x
        "
      />
      <source
        type="image/png"
        srcset="images/showcase/tablet.png 1x, images/showcase/tablet@2x.png 2x"
      />
      <img src="images/showcase/tablet@2x.png" alt="" />
    </picture>
    <ul class="list">
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <span class="server"></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Free Server For Start</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptatum officiis, non repudiandae sint illo iusto aperiam optio
              dicta a facere?
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <span class="performance"></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">High Performance</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptatum officiis, non repudiandae sint illo iusto aperiam optio
              dicta a facere?
            </p>
          </div>
        </div>
      </li>
      <li class="list__item">
        <div class="media">
          <div class="media__image">
            <span class="language"></span>
          </div>
          <div class="media__body">
            <h3 class="media__title">Multi-Language Platform</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptatum officiis, non repudiandae sint illo iusto aperiam optio
              dicta a facere?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
